<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <ul>
    <% if (!user) { %>
      this page shows the shortened links that you have created; you can <a href="/login">login</a> to see your links or <a href="/register">register</a> if you don't already have an account
    <% } else { %>
      <% for (let shortURL in urls) { %>
        <% if (urls[shortURL].userId === user.id) { %>
          <li><%= shortURL %>: <a href="<%= urls[shortURL] %>"><%= urls[shortURL].url %></a> &nbsp;&nbsp;
            <span class="btn-group" role="group" aria-label="modify link">
              <form method="GET" action="/urls/<%= shortURL %>"><button type="submit" class="btn btn-primary">edit</button></form>&nbsp;|&nbsp;
              <form method="POST" action="/urls/<%= shortURL %>/delete"><button type="submit" class="btn btn-primary">delete</button></form>
            </span>
          </li>
        <% } %>
      <% } %>
    <% } %>
  </ul>
</body>
</html>