<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h3><%= shortURL %></h3>
  <p><a href="/u/<%= shortURL %>"><%= longURL %></a><br>
  the link has been visited <% if (!count) { %> 0 <% } else { %> <%= count %> <% } %> time<% if (count !== 1) { %>s <% } %>by <% if (!uniqueCount) { %> 0 <% } else { %> <%= uniqueCount %> <% } %> unique visitor<% if (uniqueCount !== 1) { %>s <% } %></p>
  <form method="POST" action="/urls/<%= shortURL %>/delete">
    <button type="submit" class="btn btn-primary">delete</button>
  </form>
  <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
    <div class="form-group mb-2">
      <label for="redirect">your redirect link is: </label>
      <input class="form-control" type="text" name="redirect" value="http://<%= host %>:8080/u/<%= shortURL %>" style="width: 300px; margin: 1em">
      <label for="longURL">change target url for this link:</label>
      <input class="form-control" type="text" name="longURL" placeholder="enter full url" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">change url</button>
    </div>
  </form>
</body>
</html>