<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <p><a href="/u/<%= shortURL %>"><%= shortURL %> links to <%= longURL %></a></p>
  <form method="POST" action="/urls/<%= shortURL %>/delete">
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
    <div class="form-group mb-2">
      <label for="redirect">Your redirect link is: </label>
      <input class="form-control" type="text" name="redirect" value="http://<%= host %>:8080/u/<%= shortURL %>" style="width: 300px; margin: 1em">
      <label for="longURL">Change URL for this link:</label>
      <input class="form-control" type="text" name="longURL" placeholder="Enter full URL" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Change URL</button>
    </div>
  </form>
</body>
</html>