<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size: 15px; padding: 50px; text-align: center">
  <% include ./partials/_header %>
  <h2><i class="fa fa-list"></i> my links</h2>
    <% let hasLink = false %>
    <% if (!user) { %>
      <p>this page shows the shortened links that you have created<br>
        you can <a href="/login">login</a> to see your links or <a href="/register">register</a> if you don't already have an account</p>
    <% } else { %>
      <% for (let shortURL in urls) { %>
        <% if (urls[shortURL].userId === user.id) { %>
          <% hasLink = true %>
          <h4><a href="/u/<%= shortURL %>"><strong><%= shortURL %></strong></a> <i class="fa fa-arrow-right"></i> <%= urls[shortURL].url %></h4>&nbsp;&nbsp;
            <span class="btn-group" role="group" aria-label="modify link">
              <form method="GET" action="/urls/<%= shortURL %>"><button type="submit" class="btn btn-outline-primary btn-sm">edit</button></form>&nbsp;&nbsp;&nbsp;
              <form method="POST" action="/urls/<%= shortURL %>/delete"><button type="submit" class="btn btn-outline-dark btn-sm">delete</button></form>
            </span><br>
            <p>created on <%= urls[shortURL].date.toDateString().toLowerCase() %><br>
            visited <% if (!urls[shortURL].count) { %> 0 <% } else { %> <%= urls[shortURL].count %> <% } %> time<% if (urls[shortURL].count !== 1) { %>s<% } %> by <% if (!urls[shortURL].unique) { %> 0 <% } else { %> <%= urls[shortURL].unique %> <% } %> unique visitor<% if (urls[shortURL].unique !== 1) { %>s <% } %></p>
          <br>
        <% } %>
      <% } %>
      <% if (!hasLink) { %>
        you currently have no links<br>
        it might be a good idea to take one with you, it's dangerous to go alone
      <% } %>
      </ul>
    <% } %>
</body>
</html>