<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <ul>
    <% for (let shortURL in urls) { %>
    <li><%= shortURL %>: <a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a> &nbsp;&nbsp;
      <span class="btn-group" role="group" aria-label="Modify link">
        <form method="GET" action="/urls/<%= shortURL %>"><button type="submit" class="btn btn-primary">Edit</button></form>&nbsp;
        <form method="POST" action="/urls/<%= shortURL %>/delete"><button type="submit" class="btn btn-primary">Delete</button></form>
      </span>
    </li>
    <% } %>
  </ul>
</body>
</html>